<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a download="ChienPhan_Resume" target="_blank" class="navbar-brand" href="../../../assets/chienCV.pdf">Download Resume</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <!-- <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank"> -->
                    <a href="#aboutme" class="nav-link">About me</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="#skill" class="nav-link">Skill</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="#exp" class="nav-link">
                        Experience
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="#contact" class="nav-link">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
