<div class="wrapper">
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/background.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto">
                <h1>Hello world, I'm <b>Chien Phan </b></h1>
                <h3 >Scrum Master - Coach - Project Manager</h3>
                    <a href="#" class="btn btn-link btn-neutral" style="color: green;"><i class="fa fa-certificate"></i>Professional Scrum Master™ I</a>
                <br />
                <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
                <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download CV</button> -->
                <!-- <button id="aboutme" type="button" class="btn btn-outline-neutral btn-round">More about me</button> -->
                <a href="#contact" class="btn btn-outline-neutral btn-round">Contact</a>
                <a target="_blank" href="../../../assets/chienCV.pdf" class="btn btn-outline-neutral btn-round">View Resume</a>
                <div id="aboutme"></div>
            </div>
        </div>
    </div>
    <div  class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/ava.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div id="skill" class="name">
                    <h4 class="title">Chiến Lê Quang Phan
                        <p style="color: green;"><i class="fa fa-check"></i>Availabe from 01 April 2022</p>
                    </h4>
                    
                    <h6 class="description">Software Consulting</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>I’m a 4 years Software Engineering with over 1.5 years as Scrum Master (Coach/PM). 
                        Not only having technical knowledge but also being an experienced Scrum Master, I have a keen ability to understand and build complex systems.
                        I'm cultivating knowledge and preparing for PMP certification in the next 2 years. </p>
                    <br />
                    
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-1 ml-auto mr-auto"></div>
                <div class="col-md-4 ml-auto mr-auto">
                    <h6 class="description">Management skills</h6>
                    <li>Agile development & best practices</li>
                    <li>Agile framworks – SAFe, Scrum, Scrum XP</li>
                    <li>JIRA & JIRA Portfolio, Red-mine</li>
                    <li>MS Excel, Powerpoint, MS Team</li>
                    <li>Cost, Resources, Project Management</li>
                    <li>Sonar, Jenkin, Git, SVN,…</li> 
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                    <h6 class="description">Technical skills</h6>
                    <li>DB structure (schema, index), Data access, Store structure, Integrity, Concurrency and Consistency. – Oracle DB, PostgreSQL</li>
                    <li>Web UI/UX, Template, Library, Security – Angular, Javascript</li>
                    <li>Web API, Multitier Architecture, Structure, Logic, Data flow – Python, C#</li>
                    <li>Server, Authorization, Security – Window, Linux, AWS</li>
                </div>
                <div class="col-md-2 ml-auto mr-auto"></div>
            </div>

            
        </div>
    </div>


    <div id="exp" class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Experience</h2>
            <div class="row">
                <div class="container-sm">
                    <div class="timeline">
                      <ul>
                        <li>
                          <div class="timeline-content">
                            <h3 class="date">Now</h3>
                            <h1>SaaS System – IT Support </h1>
                            <i>Join as a Coach in Agile/Safe-ScrumXP Framework</i>
                                Support all IT system operations by combining customer infrastructure with cloud-based SaaS <br>
                              <p>  Size: 740 Man-months (last 16 months) <br>
                                Project: >100 members -  Team: 6 members<br>
                                Gross Margin: 25-35%</p>
                          </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                              <h3 class="date">Dec 2021</h3>
                              <h1>Construction Controller</h1>
                              <i>Join as a Project Manager <br></i>
                              Application support control assets, worker’s information and shift<br>
                                <p>Size: 5 Man-months <br>
                                    Project : 3 members - From India <br>
                                  Gross Margin: 35%<br></p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                              <h3 class="date">Nov-2021</h3>
                              <h1>Energy System</h1>
                              <i>Join as a Project Manager – Scrum Master<br></i>
                              Run the formula to calculate and show the analysis and predict future health of assets
                                <p> Size: 30 (+20) man-months <br>
                                    Project: 12-20 members<br>
                                    Gross Margin: 45%-52%</p>
                            </div>
                        </li>
                        <li>
                              <div class="timeline-content">
                                <h3 class="date">Apr 2021</h3>
                                <h1>Electric Factory Controller</h1>
                                <i>Join as a Scrum Master <br></i>
                                Application to control and show the report/ analysis of all assets in the system
                                  <p>Size: 30 man-months  <br>
                                    Project: 6 members <br>
                                    Ahead of schedule 3mm (with GM 35%)<br></p>
                              </div>
                        </li>     
                        <li>
                            <div class="timeline-content">
                              <h3 class="date">Nov-2020</h3>
                              <h1>Oracle DB migration and develop</h1>
                              <i>Join as a Developer<br></i>
                              Convert Oracle Database, Oracle Form/ Report, PLSQL from TCVN font to Unicode font
                                <p> Size: 112 man-months    <br>
                                    Project: 15-25 members<br>
                            </div>
                        </li>
                        <li>
                              <div class="timeline-content">
                                <h3 class="date">Aug 2019</h3>
                                <h1>Dynamic WorkFlow</h1>
                                Design, build and run workflows depend on organization’s business
                              </div>
                        </li>
                        <li>
                            <div class="timeline-content">
                              <h3 class="date" style="float: right;">May 2019</h3>
                              <h1>Smart Home</h1>
                              Design and build smart devices for the house
                            </div>
                        </li>
                        <li style="background-color: transparent; padding :0">
                            <div class="timeline-content">
                              <h3 class="date">Sep 2018</h3>
                            </div>
                        </li>
                      </ul>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Robert Orben</h4>
                                    <h6 class="card-category">Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


    <div id="contact" class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <h2 class="text-center">Contact</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-4">
                                <label><i class="fa fa-map-marker "></i>Ho Chi Minh City</label>
                            </div>
                            <div class="col-md-5">
                                <label><i class="fa fa-envelope"></i>chienphan2606@gmail.com</label>
                            </div>
                            <div class="col-md-3">
                                <label><i class="fa fa-phone"></i> 0336559948</label>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Feel free to contact me..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
